* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    line-height: 1.5;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 64px;
}

.header {


    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 11;
    padding: 20px 0;

}
.header.active {
    background-color: #fff;

}

.header.active {

}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-nav
{
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
}



.navbar-dark .navbar-nav .nav-link {
    text-decoration: none;
    color: #fff;

}
.navbar-dark .navbar-nav .nav-link:hover
{   color: #fff;
    text-decoration: underline;
    cursor: pointer;
    text-shadow: 0 0 50px 10px rgba(255, 255, 255, 0.5);
}

.header__button {
    border: 1px solid #fff;
    border-radius: 27px;
    padding: 8px 20px;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    background-color: transparent;
    text-decoration: none;
    transition: 0.1ms;
}

.header__button:hover {
    background-color: #fff;
    color:  #2961AB;
}

.header__nav-text {
    width: 100%;
     font-weight: 400;
    font-size: 16px;
    color: #000000;
}





/*HERO*/
/* СЕКЦИЯ HERO */
.hero {
    overflow: hidden;
    background-color: #2961AB;
    background-size: cover;
    color: #fff;
    text-align: center;
    padding: 180px 20px 120px;
    position: relative;
}


.animation-bg {
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    transform-origin: center;
    animation: scale-shape 5s infinite alternate ease-in-out;
    z-index: 10;
}

/* Первое изображение */
.animation-bg-1 {
    background-image: url("./img/animation-bg-1.svg");
    width: 50%;
    height: 50%;
    transform: translateX(-50%);
    top: -3%;
    left: 33%;

}

.animation-bg-2 {
    background-image: url("./img/animation-bg-2.svg");
    width: 25%;
    height: 29%;
    transform: translateX(-50%);
    top: -3%;
    right: -10%;

}

.animation-bg-3 {
    background-image: url("./img/animation-bg-1.svg");
    width: 50%;
    height: 50%;
    transform: translateX(-50%);
    top: -3%;
    left: 0%;

}

.animation-bg-4 {
    background-image: url("./img/animation-bg-4.svg");
    width: 50%;
    height: 50%;
    transform: translateY(-50%);
    bottom: 0%;
    left: 0%;

}

@keyframes scale-shape {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
}


.hero__title {
    font-weight: 700;
    font-size: 77px;
    line-height: 120%;
    margin-bottom: 53px;
}

.hero__subtitle{
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
}

.hero__description {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 27px;
    position: relative;
    z-index: 12;

}
.hero__buttons .btn {
    border-radius: 36px;
    padding: 16px 22px;
    font-weight: 500;
    font-size: 24px;
    border: 1px solid #fff;
    color: #fff;
    background-color: transparent;
    transition: 0.3s;
    z-index: 11;
    position: relative;
}
.hero__buttons .btn:hover {
    background-color: #fff;
    color: #2961AB;
}



.mission {
    z-index: 11;
    background: url("./img/bg_mission.png") no-repeat top center/contain, #fff;
    padding: 0px 0 100px;
    color: #333;
    border-radius: 25px;
    margin-top: -25px;
    margin-bottom: -25px;
    position: relative;
}
.mission__text {
    margin-top: 20px;
}
.mission__title {
    padding-top: 388px;
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;
}
.mission__title-highlight {
    color: #67B3A5;
}
.mission__description {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
}
.mission__details {
    margin-top: 30px;
}
.mission__details-title {
    font-size: 20px;
    font-weight: bold;

}
.mission__details-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}
/*СЕКЦИЯ ABOUT*/
.section-about {
    overflow: hidden;
    position: relative;
    background-color: #2961AB;
    background-size: cover;
}
.section-about_container {
    position: relative;
    z-index: 11;
}
.section-about__title {
    max-width: 700px;
    font-weight: bold;
    margin-bottom: 3rem;
}

.section-about__title  b {
    color: #67B3A5;
}
.card {
    background: transparent;
    border: none;
    text-align: center;
}
.card__image {
    margin-bottom: 1rem;
}

.card__image {
    font-size: 2rem;
    transition: transform 0.3s ease, color 0.3s ease;
}
.card__image:hover {
    transform: scale(1.05);

}

.card__title {
    font-weight: bold;
}

.card__text {
    color: white;
}

.card__link {
    font-weight: 500;
    font-size: 16px;
    position: relative;
    cursor:pointer;
    text-decoration: none;
    color: #fff;
}
.card__link:hover {

    text-decoration: underline;
    color: #fff;

}
.card__link:after {
    content: '';
    position: absolute;
    display: block;
    top: 23%;
    left: 100%;
    background: url("./img/arrow_link.svg") no-repeat;
    margin: 0 8px;
    width: 100%;
    height: 100%;
}

.card-body {
    padding: 0;
}


/*СЕКЦИЯ SCROLL*/
.section-scroll-bar__subtitle {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
}
.section-scroll-bar__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 120%;
}
.section-scroll-bar__title b {
    color: #67B3A5;
}
.section-scroll-bar__description {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    margin-top: 5px;
    margin-bottom: 40px;
}
.section-scroll-bar__description b{
    color: #67B3A5;
}
.section-scroll-bar {
    z-index: 11;
    background: #FFFFFF;
    background-size: cover;
    text-align: center;
    padding: 30px 0;
    position: relative;
    color: #000;
    border-radius: 25px;
    margin-top: -25px;
}

.scroll-bar-wrapper {
    padding: 20px;
    display: flex;
    gap: 30px;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.scroll-bar-card {
    cursor: pointer;
    max-width: 302px;
    margin-bottom: 35px;
    flex: 0 0 auto;
    overflow: hidden;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.25);
    background: #FFF;
    border: 1px solid #67B3A5;
    border-radius: 25px;
    transition: transform 0.3s ease, color 0.3s ease;
    padding-bottom: 30px;
}

.scroll-bar-card.card:hover {
    box-shadow: 0 4px 20px 10px rgba(41, 97, 171, 0.5);
}

.scroll-bar__img {
    width: 100.5%;
    height: 250px;
    border-radius: 0 0 25px 25px;
}

.scroll-bar-card__img-group {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.scroll-bar-card__img-group li {
margin-right: 15px;
list-style-type: none;
}
.scroll-bar-card__texts {
    padding-left: 15px;
    padding-right: 15px;
}

.scroll-bar-card__title {
    text-align: left;

    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
}
.scroll-bar-card__subtitle {
    text-align: left;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #67B3A5;
}
.scroll-bar-card__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: left;

}


.scroll-bar-cards__dots {
    display: none;
    align-items: center;
    position: absolute;
    gap: 10px;
    left: 50%;
    transform: translateX(-50%);
    top: 102%;
}

.scroll-bar-cards__dot {
    width: 10px;
    height: 10px;
    background: #94b0d5;
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.3s;
}

.scroll-bar-cards__dot.active {
    background: #2961AB;
    width: 14px;
    height: 14px;
}

.section-scroll-bar_button-group {

}
.section-scroll-bar__title-bot {
    font-weight: 700;
    font-size: 32px;
    line-height: 130%;
}
.section-scroll-bar__title-bot b {
    color: #67B3A5;
}
.section-scroll-bar__subtitle-bot {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
}
.section-scroll-bar__button-bot {
    border-radius: 27px;
    padding: 12px 20px;
    font-weight: 500;
    font-size: 16px;
    border: 1px solid #67B3A5;
    color: #67B3A5;
    text-decoration: none;
    background-color: transparent;
    transition: 0.3s;
}
.section-scroll-bar__button-bot:hover {
    background-color: #67B3A5;
    color:  #fff;
}


.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;}



.scroll-bar-wrapper::-webkit-scrollbar {
    height: 15px; /* Высота полосы прокрутки */
}

.scroll-bar-wrapper::-webkit-scrollbar-thumb {
    background: #2961AB; /* Цвет полосы прокрутки */
    border-radius: 10px; /* Скругление */
    width: 100px; /* Минимальная ширина ползунка */
    min-width: 100px; /* Минимальная длина для ползунка */
    max-width: 100px;
}

.scroll-bar-wrapper::-webkit-scrollbar-thumb:hover {
    background: #67B3A5; /* Цвет при наведении */
}

.scroll-bar-wrapper::-webkit-scrollbar-track {
    background: #f3f3f3; /* Цвет дорожки */
    border-radius: 10px; /* Скругление дорожки */
    margin: 0 30px; /* Отступы дорожки от краёв контейнера */
}


/*FOOTER*/
.footer {
    position: relative;
    margin-top: -25px;
    background-color: #fff;
    width: 100%;
    border-radius: 25px 25px 0 0;
    padding: 108px 0 60px;
    color: #000000
}

.footer__container {

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    position: relative;
    z-index: 12;
}

.footer__logo-img {
    display:inline-block;
    width: 150px;

}

.footer__top {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    gap: 20px;
}

.footer__brand {
    flex: 2;
    max-width: 864px;
}

.footer__brand-title {
    font-weight: 700;
    font-size: 56px;
    margin-top: 24px;
    margin-bottom: 24px;
}
.footer__brand-title b {
    color:#67B3A5;
}
.footer__brand-text {
    font-weight: 500;
    font-size: 16px;
}
.footer__buttons {
    justify-content: flex-start;
    margin-top: 32px;

    display: flex;

    gap: 16px;


}

.footer__links {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 400px;
    margin-top: 10px;
}
.footer__column-wrapper {
    display: flex;
    justify-content: space-between;
}

.footer__column {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.footer__link {
    font-weight: 600;
    font-size: 16px;
    color: #000;
    text-decoration: none;
    transition: color 0.3s;
}

.footer__link:hover {
    color: #0d6efd;
}


.footer__social {
    display: flex;
    gap: 12px;
    margin-top: auto;
    list-style: none;
    margin-top: auto;
    justify-content: flex-end;
}

.footer__social li {
    display: inline-block;
}



.footer__social-icon {
    width: 24px;
    height: 24px;
    transition: filter 0.3s ease;
}

.footer__social-icon:hover {
    filter: invert(42%) sepia(67%) saturate(658%) hue-rotate(180deg) brightness(85%) contrast(92%);
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-weight: 400;
    font-size: 14px;
    color: #000;
    flex-wrap: wrap;
    gap: 10px;
}

.footer__policy-link {
    text-decoration: underline;
    color: #000;
    transition: color 0.3s;
    margin-left: 24px;
}

.footer__policy-link:hover {
    color: #0d6efd;
}


.section-steps__button {
    border-radius: 27px;
    padding: 12px 20px;
    font-weight: 500;
    font-size: 16px;
    border: 1px solid #67B3A5;
    color: #67B3A5;
    text-decoration: none;
    background-color: transparent;
    transition: 0.3s;
}
.section-steps__button:hover {
    background-color: #67B3A5;
    color:  #fff;
}
/*СТРАНИЦА КОНТАКТЫ*/

.section-contact {

    display: flex;
    justify-content: center;
    align-items: center;
    background:#fff;
    border-radius: 25px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    margin-top: -25px;
    margin-bottom: -25px;
    padding-top: 112px;
    padding-bottom: 112px;
    position: relative;
    z-index: 12;
}


.image-section img {
    width: 100%;
    height: auto;
    border-radius: 25px;
    box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.2);

}

.form-section {
    padding: 20px;
}

.form-section h3 {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
}
.form-section h1 {
    font-weight: 700;
    font-size: 56px;
    line-height: 120%;
    color: #67B3A5;
}
.form-section h1 span {
    color: #000;

}
.form-section p {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
}


.form-section .highlight {
    color: #67B3A5
}

.form-section .form-control {
    border-radius: 58px;
    border: 1px solid #000;
    padding: 12px;
    background: transparent;

}
.form-section .form-control::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color:#67B3A5;

}
.form-section form .form-group:nth-of-type(3) .form-control {
    border-radius: 25px;
}

.form-check-label {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color:#000
}


.form-section .btn-primary {
    color:#000;
    background: transparent;
    border: 1px solid #000;
    border-radius: 50px;
    padding: 10px 30px;
    transition: background 0.3s;
}

.form-section .btn-primary:hover {
    background: #4a8;
    color:#fff;
    border: 1px solid #67B3A5;
}

.form-section .email-info {
    padding-left: 34px;
    position: relative;
    margin-top: 20px;
    font-size: 14px;

}
p.email-info ::after {
    content: "";
    display: inline-block;
    background-image: url("./img/envelope.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 30px;  /* Ширина иконки */
    height: 30px; /* Высота иконки */
    margin-right: 8px;
    position: absolute;
    left: 0;
    top: -4px;
}


.form-section .email-info a {
    color: #5a9;
    text-decoration: none;
    font-weight: bold;
}

.footer.footer-contacts {
    overflow: hidden;

    background-color: #2961AB;
    border-radius: 0;

    padding: 108px 0 60px;
    color: #fff
}

.footer-contacts .footer__logo{
    filter: invert(1);
}

.footer-contacts .footer__link {
    color: #fff
}
.footer-contacts .footer__link:hover {
    color: #fff
}
.footer-contacts .footer__social-icon{
    filter: invert(1);
}

.footer-contacts .footer__bottom {
    color: #fff;
}

.footer-contacts .footer__policy-link {
    color: #fff;
}
.footer-contacts .footer__policy-link:hover {
    color: #fff;
}




@media (max-width: 1200px) {

}

@media (max-width: 992px) {

    header.active .header__logo-img{


        filter: invert(1);
    }
    .header__buttons {
        z-index: -1;
        flex-wrap: wrap;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
    }
    .show .header__buttons {
        padding: 100px 10px 0;


    }

    .show  .navbar-nav {
        padding-top: 100px;
    }



    .show  .header__button {
        border: 1px solid #67B3A5;
        border-radius: 27px;
        padding: 8px 20px;
        color: #67B3A5;
        font-weight: 400;
        font-size: 16px;
        background-color: transparent;
        text-decoration: none;
        transition: 0.1ms;
    }


    .header__burger-icon {
        border: transparent;
        background: transparent;
        display: inline-block;
        width: 50px;
        height: 50px;
        vertical-align: middle;
        content: "";

    }

    path{
        transition: transform 0.25s;
    }
    .active path:nth-of-type(1){
        transform: rotate(45deg);
        transform-origin: -1px 3px;
        fill: rgb(0, 0, 0)
    }
    .active path:nth-of-type(2){
        display: none;
        fill: rgb(0, 0, 0)
    }
    .active path:nth-of-type(3){
        transform: rotate(-45deg);
        transform-origin: 0px 13px;
        fill: rgb(0, 0, 0)
    }

    .header__burger{
        display: flex;
        z-index: 99;
    }



    .container {
        max-width: 1024px;
        margin: 0 auto;
        padding: 0 20px;
    }
    /*СЕКЦИЯ HERO*/
    .hero {
        padding: 130px 0px 75px;
    }
    .hero__title {
        font-size: 40px;
        margin-bottom: 20px;
    }
    .hero__description {
        font-size: 16px;
        margin-bottom: 20px;
    }
    .hero__buttons {
        gap: 10px;
    }
    .hero__buttons .btn  {
        line-height: 1.5;
        padding: 13px 15px;
        font-size: 16px;
    }






    .mission__title {
        padding-top: 35px;
    }

    .mission {
        background: #fff;

    }




    /*FOOTER*/
    .footer {
        margin-top: -15px;
        border-radius: 15px 15px 0 0;
        padding: 30px 0 30px;

    }

    .footer__container {

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }


    .footer__top {
        display: block;

    }



    .footer__brand-title {

        font-size: 40px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .footer__brand-text {
        font-weight: 400;

    }
    .footer__buttons {
        justify-content: flex-start;
        margin-top: 24px;
        margin-bottom: 48px;
    }






    .footer__link {

        font-size: 14px;

    }

    .footer__link:hover {
        color: #0d6efd;
    }


    .footer__social {
        display: flex;

        margin-top: 32px;


        justify-content: space-between;
    }

    .footer__social li {
        display: inline-block;
    }



    .footer__social-icon {
        width: 24px;
        height: 24px;
        transition: filter 0.3s ease;
    }

    .footer__social-icon:hover {
        filter: invert(42%) sepia(67%) saturate(658%) hue-rotate(180deg) brightness(85%) contrast(92%);
    }

    .footer__bottom {
        display: flex;
        justify-content: space-between;
        width: 100%;
        font-size: 12px;
        color: #666;
        flex-wrap: wrap;
        gap: 10px;
    }

    .footer__policy-link {
        text-decoration: none;
        color: #666;
        transition: color 0.3s;
    }

    .footer__policy-link:hover {
        color: #0d6efd;
    }

/*PAGE CONTACTS*/
    .section-contact {

        background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url("./img/contacts_hand.jpg") center/cover  no-repeat ;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .form-section h1 {

        font-size: 50px;

    }

}

